<h1>A Few Stats For That Ass</h1>

<!-- number of unique attendees -->

<div class="col-lg-4 ">
  <div class="panel panel-default colorTheme smartPanel ">
    <div class="panel-heading clearfix">
      <div class="panel-heading-title pull-left">
        <h4><%= link_to "Events", events_path  %></h4>
      </div>
    </div>
    <div class="panel-body">
      <p> Crash Courses - <%= @crash_course_count %></p>
      <p>Demo Days - <%= @demoday_count %></p>
    </div>
  </div>
</div>

<div class="col-lg-4 ">
  <div class="panel panel-default colorTheme smartPanel ">
    <div class="panel-heading clearfix">
      <div class="panel-heading-title pull-left">
        <h4><%= link_to "Visitors", users_path %></h4>
      </div>
    </div>
    <div class="panel-body">
      <p>Unique Visitors - <%= @unique %></p>
      <p>Repeaters - <%= @repeaters %> (<%= number_to_percentage(@repeaters_percent, precision: 1) %>)</p>
      <p>One Timers - <%= @firsttimers %> (<%= number_to_percentage(@firsttimers_percent, precision: 1) %>)</p>
    </div>
  </div>
</div>

<div class="col-lg-4 ">
  <div class="panel panel-default colorTheme smartPanel ">
    <div class="panel-heading clearfix">
      <div class="panel-heading-title pull-left">
        <h4>Student Conversions</h4>
      </div>
    </div>
    <div class="panel-body">
      <table class="table-hover table-sm table-bordered">
        <tr>
          <td>Students Who Attended an Event</td>
          <td><%= @students.count %> (<%= number_to_percentage(@conversion_avg, precision: 1) %> of total visitors)</td>
        </tr>
        <tr>
          <td>Average number of events attended before conversion</td>
          <td><%= number_with_precision(@student_event_avg, precision: 1 )%></td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="col-lg-6 ">
  <div class="panel panel-default colorTheme smartPanel ">
    <div class="panel-heading clearfix">
      <div class="panel-heading-title pull-left">
        <h4>Visitor Motivation</h4>
      </div>
    </div>
    <div class="panel-body">
      <div id="chart_div" style="width: 500px; height: 300px"></div>
    </div>
  </div>
</div>

<div class="col-lg-6 ">
  <div class="panel panel-default colorTheme smartPanel ">
    <div class="panel-heading clearfix">
      <div class="panel-heading-title pull-left">
        <h4>Event Average Attendance</h4>
      </div>
    </div>
    <div class="panel-body">
      <div id="avg_attendance_div" style="width: 500px; height: 300px"></div>
    </div>
  </div>
</div>


  <% @event_names.each do |name| %>
    <div class="col-lg-6">
      <div class="panel panel-default colorTheme smartPanel ">
        <div class="panel-heading clearfix">
          <div class="panel-heading-title pull-left">
            <h4><%= name %> Attendance Trend</h4>
          </div>
        </div>
        <div class="panel-body">
          <div id="<%= name %>" style="width: 500px; height: 300px"></div>
        </div>
      </div>
    </div>
  <% end %>





<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart', 'line']});

      // Attendee Motivation
      google.charts.setOnLoadCallback(drawMotivation);
      function drawMotivation() {
        var data = google.visualization.arrayToDataTable([
          ['Motivation', 'Count'],
      <% @interests.each do |interest| %>
          ['<%= interest %>', <%= User.where(interest: interest).count %>],
      <% end %>
        ]);
        var options = {
          title: 'Visitor Motivation'
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      // Event Average Attendance

      google.charts.setOnLoadCallback(drawAttenchart);
      function drawAttenchart() {
        var data = google.visualization.arrayToDataTable([
          ["Event ", "Avg. Attendance", { role: "style" } ],
        <% @event_names.each do |name| %>
          ["<%= name %>", <%= number_with_precision(Event.where(name: name).joins(:users).count.to_f / Event.where(name: name).count.to_f, precision: 1 ) %>, "#b87333"],
        <% end %>

        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                         { calc: "stringify",
                           sourceColumn: 1,
                           type: "string",
                           role: "annotation" },
                         2]);

        var options = {
          title: "",
          width: 500,
          height: 300,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("avg_attendance_div"));
        chart.draw(view, options);
    }

      // Event Attendance Trends
      <% @event_names.each do |name| %>
        google.charts.setOnLoadCallback(<%= name.camelize(:lower).gsub!(/\W/, '') %>);
        function <%= name.camelize(:lower).gsub!(/\W/, '') %>() {
          var data = google.visualization.arrayToDataTable([
            ['Date', '<%= name %>'],
          <% Event.where(name: name).order(date: :asc).each do |demo| %>
            ['<%= demo.date.strftime('%m-%e-%y') %>',  <%= demo.users.count %>],
          <% end %>
        ]);
          var options = {
            title: '',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
          var chart = new google.visualization.LineChart(document.getElementById('<%= name %>'));
          chart.draw(data, options);
        }
      <% end %>


    </script>
