<%= simple_form_for(@admin) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email_option, inline_label: "I would like to receive an email containing a .csv of attendees after each event, please." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
