<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "First & Last Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:name]) %>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:email]) %>
  </div>


  <div class="control-group">
    <%= f.label :interest, :class => 'control-label' %>

<% if Event.last.name.include? "Demo Day" %>
    <div class="controls">
      <%= f.radio_button :interest, "I am interested in hiring a student." %>
      <%= f.label :interest, 'I am interested in hiring a student.' %>
    </div>
<% else %>
<% end %>

    <div class="controls">
      <%= f.radio_button :interest, "I am interested in possibly becoming a student." %>
      <%= f.label :interest, 'I am interested in possibly becoming a student.' %>
    </div>
    <div class="controls">
      <%= f.radio_button :interest, 'I am interested in learning more about The Iron Yard.' %>
      <%= f.label :interest, 'I am interested in learning more about The Iron Yard.' %>
    </div>

<% if Event.last.name.include? "Demo Day" %>
    <div class="controls">
      <%= f.radio_button :interest, 'I\'m here to support a friend or family member.' %>
      <%= f.label :interest, 'I\'m here to support a friend or family member.' %>
    </div>
    <div class="controls">
      <%= f.radio_button :interest, 'I\'m just here for the free tacos.' %>
      <%= f.label :interest, 'I\'m just here for the free tacos.' %>
    </div>
<% else %>
<% end %>

<% if Event.last.name.include? "Crash Course" %>
    <div class="controls">
      <%= f.radio_button :interest, "I'm just here for the free learnin\'." %>
      <%= f.label :interest, 'I\'m just here for the free learnin\'.' %>
    </div>
<% else %>
<% end %>
    <%= error_span(@user[:email]) %>
  </div>

<% if Event.last.name.include? "Demo Day" %>
  <div class="control-group">
    <%= f.label :company, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :company, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:email]) %>
  </div>
  <% else %>
  <% end %>


  <br>


  <%= f.submit "Submit", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            users_path, :class => 'btn btn-default' %>

<% end %>
