<h1>A Few Stats For That Ass</h1>

<!-- number of unique attendees -->

<div class="col-lg-4 ">
  <div class="panel panel-default colorTheme smartPanel ">
    <div class="panel-heading clearfix">
      <div class="panel-heading-title pull-left">
        <h4>Events</h4>
      </div>
    </div>
    <div class="panel-body">
      <p> Crash Courses - <%= @crash_course_count %></p>
      <p>Demo Days - <%= @demoday_count %></p>
    </div>
  </div>
</div>

<div class="col-lg-4 ">
  <div class="panel panel-default colorTheme smartPanel ">
    <div class="panel-heading clearfix">
      <div class="panel-heading-title pull-left">
        <h4>Visitors</h4>
      </div>
    </div>
    <div class="panel-body">
      <p>Unique Visitors - <%= @unique %></p>
      <p>Repeaters - <%= @repeaters %> (<%= number_to_percentage(@repeaters_percent, precision: 1) %>)</p>
      <p>One Timers - <%= @firsttimers %> (<%= number_to_percentage(@firsttimers_percent, precision: 1) %>)</p>
    </div>
  </div>
</div>

<div class="col-lg-4 ">
  <div class="panel panel-default colorTheme smartPanel ">
    <div class="panel-heading clearfix">
      <div class="panel-heading-title pull-left">
        <h4>Visitor Motivation</h4>
      </div>
    </div>
    <div class="panel-body">
      <% @interests.each do |interest| %>
        <p><%= interest %> - <%= User.where(interest: interest).count %></p>
      <% end %>
    </div>
  </div>
</div>
