<h1><%= @event.name.split("-").first %> - <%= @event.date.strftime('%m/%d/%Y') %> - <%= @event.users.count %> Attendees</h1>
<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>
      Attendees
    </th>
    <th>
      Email
    </th>
    <th>
      Interest
    </th>
  </tr>
  <% @event.users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, user %>
      </td>
      <td>
        <%= mail_to user.email %>
      </td>
      <td>
        <%= user.interest %>
      </td>
    </tr>
  <% end %>
</table>
<!-- 
<div class="card-deck-wrapper">
  <div class="card-deck">
    <% @event.users.each do |user| %>
      <div class="card">
        <% if user.avatar.nil? %>
        <%= image_tag 'no_avatar.png', class: 'card-img-top', size: '242x200' %>
        <% else %>
        <%= image_tag user.avatar, class: 'card-img-top', size: '242x200' %>
        <% end %>
        <div class="card-block">
          <h4 class="card-title"><%= user.name %></h4>
          <p class="card-text"><%= user.bio %></p>
        </div>
      </div>
      <% end %>
  </div>
</div> -->
