<h1><%= @events.count %> Events</h1>

<% @events.each do |event| %>
  <h2><%= event.name.split("-").first %> - <%= event.date.strftime('%m/%d/%Y') %> - <%= event.users.count %> Attendees</h2>
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Interest
      </th>
    </tr>
    <% event.users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.interest %>
        </td>
      </tr>
    <% end %>
  </table>


<% end %>
