<h1><%= @event.name.split("-").first %> - <%= @event.date.strftime('%m/%d/%Y') %> - <%= @event.users.count %> Attendees</h1>
<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>
      Attendees
    </th>
    <th>
      Email
    </th>
    <th>
      Interest
    </th>
  </tr>
  <% @event.users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, user %>
      </td>
      <td>
        <%= mail_to user.email %>
      </td>
      <td>
        <%= user.interest %>
      </td>
    </tr>
  <% end %>
</table>
