

<% if @user.avatar.nil? %>
<%= image_tag 'no_avatar.png', class: 'img-circle img-responsive', size: "140x140" %>
<% else %>
<%= image_tag @user.avatar, class: 'img-circle img-responsive', size: "140x140"%>
<% end %>
<h1><%= @user.name.titleize %></h1>
<h3><%= @user.bio %></h3>
<h4><%= mail_to @user.email %></h4>
<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>
      Events Attended
    </th>
    <th>
      Event Date
    </th>
  </tr>
  <% @user.events.sort_by{ |result| result.date}.reverse.each do |event| %>
    <tr>
      <td>
        <%= link_to event.name, event %>
      </td>
      <td>
        <%= event.date.strftime('%m/%d/%Y') %>
      </td>
    </tr>
  <% end %>
</table>
