<h1><%= @events.count %> Events</h1> <%= link_to 'New Event', new_event_path %>


<% @events.each do |event| %>
  <h2><%= link_to event.name.split("-").first, event %> - <%= event.date.strftime('%m/%d/%Y') %> - <%= event.users.count %> Attendees <%= "(#{event.locations.last.city})" if current_admin.super_admin %></h2>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th>
            Interest
          </th>
        </tr>
        <% event.users.each do |user| %>
          <tr>
            <td>
              <%= link_to user.name.titleize, user %><% if user.events.count == 1 %><div class="red_font"> <b><%= "- First Timer -" %></b></div> <% end %>
            </td>
            <td>
              <%= mail_to user.email %>
            </td>
            <td>
              <%= user.interest %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>


<% end %>

<br>
