<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :city %>
    <%= f.input :admin_ids %>
    <%= f.input :event_ids %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
